extends layout

block content
  .row.justify-content-center
    .col-md-8.text-center
      h2(style='font-family:Playfair Display, serif; color:#d63384') Thank you for using Personal Portfolio Builder!
      p Your resume has been successfully generated.
      a.btn.btn-pink.mt-3(href='/') Back to Home
